EXPO_PUBLIC_ONBORN_SDK_API_KEY=cf_test_your_sdk_key_here
EXPO_PUBLIC_ONBORN_FLOW_ID=productivity_main
EXPO_PUBLIC_ONBORN_PAYWALL_ID=your_published_paywall_id
EXPO_PUBLIC_ONBORN_API_URL=http://192.168.0.10:3002
